$base-light:#FFFFFF;
$base-dark:#000000;
$dark-purple:#0F084B;
$argentain-blue:#65AFFF;
$drab-dark-brown:#514B23;
$papaya-whip:#FFEFD3;
$black-bean:#280003;
$burnt-sienna:#D7816A;
$sunglow:#FFD166;
$sentiment-negative:#D8331C;
$sentiment-positive:#50A70F;
$sentiment-warning:#F1CB45;
$border:#0e0f0c3a;
$bg-neutral:#163300;
$bg-secondary:#FAFAFA;
$content-primary:#1a1a1a;
$content-secondary:#4F4F4F;
$content-tertiary:#828282;