@import '../base/sass/colors';

#navbar{
    .navbar{
        .navbar-brand{
            img{
                width:100px;
            }
        }
        .nav-item{
            margin: 0 0.5rem;
        }
        .text-body-default{
            margin-bottom: 0;
        }
    }
}