@import '../base/sass/colors';

// navbar-design
#navbar{
    .navbar{
        background-color: $base-light !important;

        // logo design
        .navbar-brand{
            // image design
            img{
                width:380px;
            }
        }
        .nav-item{
            margin: 0 0.5rem;

            .active{
                font-weight: 600;
                color: $argentain-blue;
            }

            .dropdown-toggle{
                font-weight: 600;
            }
        }

        // button design
        .btn{
            padding: 0.3rem 1rem !important;
        }

        // font family
        .text-body-default{
            margin-bottom: 0;
        }
    }
}