@import '../base/sass/colors';

#navbar{
    .navbar{
        .navbar-brand{
            img{
                width:100px;
            }
        }
        .nav-item{
            margin: 0 0.5rem;

            .active{
                font-weight: 600;
            }

            .dropdown-toggle{
                font-weight: 600;
            }
        }

        .btn{
            padding: 0.3rem 1rem !important;
        }

        .text-body-default{
            margin-bottom: 0;
        }
    }
}