@import '../base/sass/colors';

#table{
    .container{
        margin-left:2px;
        margin-top: 20px;
    
        table{
            th{
                color:$content-secondary;
            }
            tbody{
                td{
                    color:$content-primary;
                }
                .mng{
                    color: $argentain-blue !important;
                }
            }
        }
    }
}