@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Righteous&display=swap');

.text-title-screen{
    font-family: "Righteous", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -2.5%;
    margin-bottom: 8px;
}

.text-title-section{
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -1.5%;
    margin-bottom: 8px;
}

.text-title-subsection{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -1.5%;
    margin-bottom: 8px;
}

.text-title-body{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1%;
    margin-bottom: 8px;
}

.text-body-large{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5%;
    margin-bottom: 8px;
}

.text-body-large-bold{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5%;
    margin-bottom: 8px;
}

.text-body-default{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1%;
    margin-bottom: 8px;
}

.text-body-default-bold{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1.25%;
    margin-bottom: 8px;
}

.text-link-large{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    line-height: 24px;
    letter-spacing: 1%;
    margin-bottom: 8px;
}

.text-link-default{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    line-height: 22px;
    letter-spacing: 1.25%;
}