{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/account-verified/style.css' %}">
{% endblock style %}

</head>
<body>
    {% block content %}
<section>
   <div class="container">
        <div class="wrap">
            <div>
                <img src="{% static 'core/account-verified/image.svg' %}" alt="error" class="img">
                <h1 class="text-title-screen">Welcome! Your Organisation profile is being reviewed.</h1>
                <p class="text-body-default">Once review is complete the admin will get an email to verify their email and login. <br>
                    More details are mailed to contact email you provided.</p>
            </div>
        </div>
   </div> 
   
    {% endblock content %}
</section>
</body>
</html>


