{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'core/account-verified/style.css' %}">
{% endblock style %}

    {% block content %}
<section>
   <div class="container">
        <div class="wrap">
            <div>
                <img src="{% static 'core/account-verified/account-verified-image.svg' %}" alt="error" class="img">
                <h1 class="text-title-screen">Welcome! Your acccount has been verified.</h1>
                <p class="text-body-default">Follow the instructions in the mail to get your password and login<br>
                <a href="#">click here</a> to go to reset password page</p>
            </div>
        </div>
   </div> 
</section>
{% endblock content %}


