// Don't even dare to touch or make changes to this file.. please 🙏
// Overall wrap
.initial-wrap {
    display: flex;
    height: 100vh;
    flex-direction: column;
  
    // Navbar
    .header {
      background-color: #E2E7FF;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      height: 60px;
      border-bottom: 1px solid #e5e5e5;
      display: flex;
      align-items: center !important;
  
      .logo {
        img {
          width: 115px;
        }
      }
  
      .header-content {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
      }
    }
  
    // Sidebar
    .sidebar {
      width: 220px;
      background-color: #ffff;
      height: calc(100vh - 60px);
      position: fixed;
      top: 60px;
      left: 0;
      z-index: 999;
      border-right: 1px solid #e5e5e5;
      overflow-y: auto;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
  
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
  
      @media screen and (max-width: 430px) {
        width: 100%;
        height: 100vh;
        top: auto;
        left: auto;
        margin-top: 60px;
      }
  
      .nav {
        display: flex;
        flex-direction: column;
  
        .navlink {
          text-decoration: none;
          color: #334155;
          padding: 2rem;
          display: flex;
          align-items: center;
          border-right: 3px solid transparent;
          transition: all 0.2s ease-in-out;
          width: 100%;
  
          &:hover {
            color: #ffff;
            background-color: #013198;
          }
        }
  
        .active {
          color: #ffff;
          background-color: #013198;
        }
      }
  
      @media screen and (min-width: 431px) and (max-width: 1024px) {
        width: 90px;
  
        .navlink {
          padding: 1.5rem 1rem !important;
          justify-content: center;
          flex-direction: column;
  
          i {
            font-size: 20px;
            margin-right: 0 !important;
          }
  
          .menu-text {
            font-size: 12px;
            margin-top: 0.2rem;
          }
        }
      }
    }
  
    // Content section
    .main-content {
      margin-left: 220px;
      margin-top: 60px;
      padding: 1rem;
      overflow-y: auto;
      height: calc(100vh - 60px);
  
      @media screen and (min-width: 431px) and (max-width: 1024px) {
        margin-left: 90px;
      }
  
      @media screen and (max-width: 430px) {
        margin-left: auto;
        width: 100%;
      }
    }
  }

  tbody, td, tfoot, th, thead, tr {
    background-color: transparent !important;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding: 1rem !important;
}