<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blixtro {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo-icon.svg' %}">
    <script src="{% static 'utils/htmx/htmx.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/d2ef0bf498.js" crossorigin="anonymous"></script>
    <link href="{% static 'utils/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block style %}{% endblock style %}
</head>

<body class="bg-light">
    <div class="initial-wrap">
        
        <!-- Navbar -->
        {% block navbar %}{% endblock navbar %}

        <!-- Sidebar -->
        {% block sidebar %}{% endblock sidebar %}

        <!-- Main Content -->
        <section class="main-content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </section>

    </div>
    {% block scripts %}{% endblock scripts %}
    <script src="{% static 'utils/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>