<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
  </head>
  <body>
    <div class="container">
        <header>
            <nav class="navbar mt-4">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"><img src="{% static 'images/logo-icon.svg' %}" alt="Blixtro Logo"></a>
                  <a href="{% url 'student:report_issue' %}" class="btn btn-primary">Report Issue</a>
                </div>
            </nav>
        </header>

        <div class="row content mt-5 gy-5">
            <div class="col info">
                <h1>Blixtro Inventory Management System</h1>
                <p>Detailed item cards, batch tracking, quick stock reports, and accurate inventory cost calculations | Blixtro Online Inventory Management System</p>
                <a href="{% url 'core:register' %}" class="btn btn-primary">Register</a>
                <a href="{% url 'core:login' %}" class="btn btn-primary">Login</a>
            </div>
            <div class="col">
                <div class="image">
                    <img class="image" src="{% static 'images/inveno.png' %}" alt="Warehouse Image">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
