{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- subnav -->
{% block subnav %}
{% include 'lab/additionals/sub-nav.html' %}
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="heading-wrap">
                <h2 class="text-title-section">Archives</h2>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary text-body-default-bold dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-filter me-2"></i>Filters
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        {% if archives %}
        
        <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
            {% for archive in archives %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" style="outline: none !important; box-shadow: none;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{archive.pk}}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="flush-collapseOne{{archive.pk}}">
                        <div class="d-flex justify-content-between w-100">
                            <div class="text-body-default-bold mb-0">
                                {{archive.item.item_name}} <span class="badge text-bg-primary rounded-pill ms-2">{{archive.reason}}</span>
                            </div>
                            <div class="me-3 text-body-default mb-0 text-muted">
                                {{archive.date}}
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="flush-collapseOne{{archive.pk}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{archive.remarks}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        
        {% else %}
        <div class="text-center text-body-default">
            No archives yet
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}