{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- subnav -->
{% block subnav %}
{% include 'lab/additionals/sub-nav.html' %}
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Categories</h2>
            </div>
            <a href="{% url 'org:lab:category-create' org.pk dept.pk lab.pk %}" class="btn btn-primary text-body-default-bold">Create Category<i class="fa-solid fa-plus ms-2"></i></a>
        </div>
    </div>
</section>

<!-- table -->
<section id="department-section">
    <div class="container">
        {% if categories %}
        <div id="table">
            <div class="container">
                <div class="table-responsive danger">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-body-default-bold">Category Name</th>
                        <th class="text-body-default-bold">Created on</th>
                        <th class="text-body-default-bold">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td class="text-body-default">{{category.category_name}}</td>
                            <td class="text-body-default">{{category.created_on}}</td>
                            <td><a class="text-danger text-link-default" href="{% url 'org:lab:category-delete' org.pk dept.pk lab.pk category.pk %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center text-body-default">
            No categories yet
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}