{% extends 'base.html' %}

<!-- subnav -->
{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: #ffffff;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

{% block content %}
<div class="container mt-4">
    <form method="post">
        <h1 class="text-title-section mb-4">{{item}}</h1>
        {% csrf_token %}
        {% for field in form %}
            {% if field and not field.is_hidden %}
            <div class="form-group mb-3">
                <div class="mb-1 text-body-default">{{ field.label_tag }}</div>
                {{ field }}
            </div>
            {% elif field.is_hidden %}
                {{ field }}
            {% endif %}
        {% endfor %}

        {% if component %}
        <p>By submitting this form the "{{component.item}}" will be removed from the system "{{component.system.sys_name}}" and set as depreciated. This action can't be undone.</p>
        {% endif %}
        <button class="btn btn-primary w-100 text-body-default-bold" type="submit">Remove item</button>
    </form>
</div>
{% endblock content %}