{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- subnav -->
{% block subnav %}
{% include 'lab/additionals/sub-nav.html' %}
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Items</h2>
            </div>
            <div>
                <a href="{% url 'org:lab:add-item' org.pk dept.pk lab.pk %}" class="btn btn-primary text-body-default-bold">Add Item<i class="fa-solid fa-plus ms-2"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- table block -->
<section id="department-section">
    <div class="container">

        {% if items %}
        <div id="table">
            <div class="container">
                <div class="table-responsive danger">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-body-default-bold">Item ID</th>
                        <th class="text-body-default-bold">Item Name</th>
                        <th class="text-body-default-bold">Quantity</th>
                        <th class="text-body-default-bold">Category</th>
                        <th class="text-body-default-bold">Added on</th>
                        <th class="text-body-default-bold">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.unique_code}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">
                              <a href="{% url 'org:lab:item-detail' org.pk dept.pk lab.pk item.pk %}">{{item.item_name}}</a>
                            </td>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.total_available_qty}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.category}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.created_on.date}}</td>
                            <td>
                                <a class="mng text-link-default" data-bs-toggle="modal" data-bs-target="#{{item.pk}}" href="#">Manage</a>

                                <!-- Modal -->
                                <div class="modal fade" id="{{item.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{item.pk}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <div>
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{item.item_name}}</h1>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-body-default">
                                        Choose any options from below
                                        </div>
                                        <div class="modal-footer">
                                        <a href="{% url 'org:lab:item-update' org.pk dept.pk lab.pk item.pk %}" type="button" class="btn btn-primary text-body-default-bold"><i class="fa-solid fa-pen-to-square me-2"></i>Edit</a>
                                        <div class="dropdown mb-0">
                                            <button class="btn btn-outline-primary dropdown-toggle text-body-default-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              More
                                            </button>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item"  href="{% url 'org:lab:item-remove' org.pk dept.pk lab.pk item.pk %}">Create record</a></li>
                                              <li>
                                                <hr class="dropdown-divider">
                                              </li>
                                              <li><a class="dropdown-item text-danger" data-bs-target="#{{item.pk}}2" data-bs-toggle="modal" href="#">Delete Item</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="{{item.pk}}2" aria-hidden="true" aria-labelledby="{{item.pk}}2" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5 text-title-subsection" id="exampleModalToggleLabel2">Delete</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-body-default text-danger">
                                          Are you sure you want to delete {{item.item_name}}?
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'org:lab:item-delete' org.pk dept.pk lab.pk item.pk %}" class="btn btn-danger text-body-default-bold"><i class="fa-solid fa-trash me-2"></i>Yes Delete</a>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center text-body-default">
            No items added yet
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}