{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <form method="post">
        <h1>{{item}}</h1>
        {% csrf_token %}
        {{form.as_p}}
        {% if component %}
        <p>By submitting this form the "{{component.item}}" will be removed from the system "{{component.system.sys_name}}" and set as depreciated. This action can't be undone.</p>
        {% endif %}
        <button class="btn btn-primary w-100 text-body-default-bold" type="submit">Remove item</button>
    </form>
</div>
{% endblock content %}