{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'lab/item-detail/style.css' %}">
{% endblock style %}

<!-- subnav block -->
{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: #ffffff;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}


{% block content %}
<div class="container mt-5">
    <div class="header">
     <h1>{{item.item_name}}</h1>
    </div>
    <div class="sub-details">
        <p>Total qty: <b>{{item.total_qty}}</b></p><p>In use: <b>{{item.in_use_qty}}</b></p><p>Available: <b>{{item.total_available_qty}}</b></p>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between">
              <h3 class="text-title-section">Purchase History</h3>
            </div>
            
            <table class="table mt-2">
              <thead>
                <tr>
                  <th scope="col" class="text-body-default-bold">Vendor</th>
                  <th scope="col" class="text-body-default-bold">Date</th>
                  <th scope="col" class="text-body-default-bold">Qty</th>
                </tr>
              </thead>
              <tbody class="purchaseHistoryTableBody">
                {% for purchase in item.purchases.all %}
                <tr>
                  <td class="text-body-default">{{purchase.vendor}}</td>
                  <td class="text-body-default">{{purchase.created_on.date}}</td>
                  <td class="text-body-default">20</td>
                </tr>
                {% endfor %}
              </tbody>
              </table>
            <button id="purchaseHistoryTableBtn" class="btn btn-sm btn-primary text-body-default-bold" onclick="toggleHideTableRows('purchaseHistoryTableBody', 'purchaseHistoryTableBtn')">Show more</button>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between">
              <h3 class="text-title-section">Additional Info</h3>
              <div>
                <a href="{% url 'org:lab:add-additional-info' item.org.pk item.lab.dept.pk item.lab.pk item.pk %}" class="btn btn-primary text-body-default-bold" style="padding: 5px 10px !important;">Add<i class="fa-solid fa-plus ms-2"></i></a>
              </div> 
            </div>
            
            <table class="table mt-2">
                <thead>
                  <tr>
                    <th scope="col" class="text-body-default-bold">Serial no</th>
                    <th scope="col" class="text-body-default-bold">Price</th>
                  </tr>
                </thead>
                <tbody class="additionalInfoTableBody">
                    {% for info in additional_info %}
                        <tr>
                            <td class="text-body-default">{{info.serial_no}}</td>
                            <td class="text-body-default">${{info.price|floatformat:2}}</td>
                        </tr>
                    {% endfor %}
                  
                </tbody>
                </table>
              <button id="additionalInfoTableBtn" class="btn btn-sm btn-primary text-body-default-bold" onclick="toggleHideTableRows('additionalInfoTableBody', 'additionalInfoTableBtn')">Show more</button>
          </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    let hideCount = 3
    function toggleHideTableRows(tableBodyClass, buttonId) {
        const rows = document.querySelectorAll(`.${tableBodyClass} tr`);
        const toggleButton = document.getElementById(buttonId);

        const isHidden = rows[hideCount].style.display === 'none' || rows[hideCount].style.display === '';

        if (isHidden) {
            for (let i = hideCount; i < rows.length; i++) {
                rows[i].style.display = 'table-row';
            }
            toggleButton.innerText = 'Show less';
        } else {
            for (let i = hideCount; i < rows.length; i++) {
                rows[i].style.display = 'none';
            }
            toggleButton.innerText = 'Show more';
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const tableBodiesAndToggleBtn = [['purchaseHistoryTableBody', 'purchaseHistoryTableBtn'],['additionalInfoTableBody', 'additionalInfoTableBtn']]
        tableBodiesAndToggleBtn.forEach((tableBodiesAndToggleBtn, index) => {
            console.log(`Table body ${tableBodiesAndToggleBtn[0]}`)
            const rows = document.querySelectorAll(`.${tableBodiesAndToggleBtn[0]} tr`);
            if (rows.length > hideCount) {
                for (let i = hideCount; i < rows.length; i++) {
                    rows[i].style.display = 'none';
                }
            }else{
                let btn = document.getElementById(tableBodiesAndToggleBtn[1])
                btn.style.display = 'none';
            }
        });
    });
</script>
{% endblock scripts %}
