{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- subnav -->
{% block subnav %}
{% include 'lab/additionals/sub-nav.html' %}
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Settings</h2>
            </div>
        </div>
    </div>
</section>

<section id="department-section">
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <hr>
            <div class="wrap" style="max-width: 200px;">
                <h2 class="text-title-subsection">Enable tabs</h2>
                {% for item in form %}
                <div class="form-check form-switch d-flex justify-content-end">
                    <label class="form-check-label text-body-default" for="flexSwitchCheckChecked">{{item.label}}</label>
                    {{item}}
                </div>
                {% endfor %}
            </div>
            <hr>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary text-body-default-bold w-100">Save settings</button>
        </div>
    </form>
</section> 

{% endblock content %}