{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- subnav -->
{% block subnav %}
{% include 'lab/additionals/sub-nav.html' %}
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Systems</h2>
            </div>
            <div>
              <a href="{% url 'org:lab:add-system' org.pk dept.pk lab.pk %}" class="btn btn-primary text-body-default-bold">Add System<i class="fa-solid fa-plus ms-2"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- table block -->
<section id="department-section">
    <div class="container">
        {%if systems%}

        <div id="table">
            <div class="container">
                <div class="table-responsive danger">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-body-default-bold">System id</th>
                        <th class="text-body-default-bold">System name</th>
                        <th class="text-body-default-bold">Status</th>
                        <th class="text-body-default-bold">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for system in systems %}
                        <tr>
                          <td class="text-body-default">{{system.unique_code}}</td>
                            <td class="text-body-default">
                              <a href="{% url 'org:lab:system-detail' org.pk dept.pk lab.pk system.pk %}">{{system.sys_name}}</a>
                            </td>
                            <td class="text-body-default-bold">
                              {% if system.status == 'working' %}
                              <span class="badge text-bg-success">Working</span>
                              {% elif system.status == 'not_working' %}
                              <span class="badge text-bg-danger">Not working</span>
                              {% elif system.status == 'item_missing' %}
                              <span class="badge text-bg-warning">Item missing</span>
                              {% endif %}
                            </td>
                            <td>
                                <a class="mng text-link-default" data-bs-toggle="modal" data-bs-target="#{{system.pk}}" href="#">Manage</a>
                                <!-- Modal -->
                                <div class="modal fade" id="{{system.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{item.pk}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <div>
                                          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{system.sys_name}}</h1>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-body-default">
                                        Choose any options from below
                                        </div>
                                        <div class="modal-footer">
                                        <a href="{% url 'org:lab:update-system' org.pk dept.pk lab.pk system.pk %}" type="button" class="btn btn-primary text-body-default-bold"><i class="fa-solid fa-pen-to-square me-2"></i>Edit</a>
                                        <div class="dropdown mb-0">
                                            <button class="btn btn-outline-primary dropdown-toggle text-body-default-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              More
                                            </button>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" data-bs-target="#{{system.pk}}2" data-bs-toggle="modal" href="#">Delete System</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="{{system.pk}}2" aria-hidden="true" aria-labelledby="{{system.pk}}2" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5 text-title-subsection" id="exampleModalToggleLabel2">Delete</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-body-default text-danger">
                                          Are you sure you want to delete {{system.sys_name}}?
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'org:lab:system-delete' org.pk dept.pk lab.pk system.pk %}" class="btn btn-danger text-body-default-bold"><i class="fa-solid fa-trash me-2"></i>Yes Delete</a>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

        {% else %}

        <div class="text-center text-body-default">
          No systems added yet
      </div>

      {% endif %}
    </div>
</section>

{% endblock content %}