{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'form/style.css' %}">
{% endblock style %}

<!-- subnav -->
{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: #ffffff;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

<!-- form block -->
{% block content %}
<section id="login-card">
    <div class="container">
        <div class="card">
            <h1 class="text-title-section">Create System</h1>
            <form action="" method="post">
                {% csrf_token %}
              {{form.as_div}}
              <button class="btn btn-primary text-body-default-bold" type="submit">Create System</button>
            </form>
         </div>
    </div>
</section>
{% endblock content %}
