@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Righteous&display=swap");
.text-title-screen {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -2.5%;
  margin-bottom: 8px;
}

.text-title-section {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1.5%;
  margin-bottom: 8px;
}

.text-title-subsection {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -1.5%;
  margin-bottom: 8px;
}

.text-title-body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -1%;
  margin-bottom: 8px;
}

.text-title-group {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.5%;
}

.text-body-large {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5%;
  margin-bottom: 8px;
}

.text-body-large-bold {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5%;
  margin-bottom: 8px;
}

.text-body-default {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1%;
  margin-bottom: 8px;
}

.text-body-default-bold {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1.25%;
  margin-bottom: 8px;
}

.text-link-large {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  line-height: 24px;
  letter-spacing: 1%;
  margin-bottom: 8px;
}

.text-link-default {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  line-height: 22px;
  letter-spacing: 1.25%;
}

.btn {
  padding: 0.5rem 1rem !important;
}

.btn-primary {
  color: #FFFFFF !important;
  background-color: #0F084B !important;
  border-color: #0F084B !important;
}
.btn-primary:hover {
  background-color: #040661 !important;
  border-color: #040661 !important;
}

.btn-outline-primary {
  color: #0F084B !important;
  border-color: #0F084B !important;
}
.btn-outline-primary:hover {
  color: #FFFFFF !important;
  background-color: #0F084B !important;
  border-color: #040661 !important;
}

#navbar .navbar {
  background-color: #FFFFFF !important;
}
#navbar .navbar .navbar-brand img {
  width: 100px;
}
#navbar .navbar .nav-item {
  margin: 0 0.5rem;
}
#navbar .navbar .nav-item .active {
  font-weight: 600;
  color: #65AFFF;
}
#navbar .navbar .nav-item .dropdown-toggle {
  font-weight: 600;
}
#navbar .navbar .btn {
  padding: 0.3rem 1rem !important;
}
#navbar .navbar .text-body-default {
  margin-bottom: 0;
}

#sub-nav {
  margin-top: 56px;
  background-color: #FFFFFF !important;
}
#sub-nav .container-fluid .wrapper {
  display: flex;
  flex-wrap: wrap;
}
#sub-nav .container-fluid .wrapper .side-bar a {
  text-decoration: none;
}
#sub-nav .container-fluid .wrapper .side-bar a .text-title-subsection {
  margin-top: 8px;
  color: #0F084B;
}
#sub-nav .container-fluid .wrapper .table-responsive {
  display: flex;
}
#sub-nav .container-fluid .wrapper .table-responsive table {
  margin-left: 1rem;
}
#sub-nav .container-fluid .wrapper .table-responsive table td {
  padding: 0 1rem;
  text-align: center;
}
#sub-nav .container-fluid .wrapper .table-responsive table td a {
  text-decoration: none;
  color: #0F084B;
}
#sub-nav .container-fluid .wrapper .table-responsive table td a::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
#sub-nav .container-fluid .wrapper .table-responsive table td .active::after {
  content: "";
  background-color: #65AFFF;
  display: block;
  height: 2px;
  width: 100%;
}
#sub-nav .container-fluid .wrapper .item {
  margin-bottom: 1rem;
}
#sub-nav .container-fluid .wrapper .item::after {
  content: " ";
  background-color: #65AFFF;
  display: block;
  margin-top: 0.1rem;
  height: 2px;
  width: 78px;
  margin-left: 2px;
}

#table .container {
  margin-left: 2px;
  margin-top: 20px;
}
#table .container table th {
  color: #4F4F4F;
  background-color: transparent;
}
#table .container table tbody td {
  color: #1a1a1a;
  background-color: transparent;
}
#table .container table tbody .mng {
  color: #65AFFF !important;
}

body {
  background-color: #FAFAFA;
}

.form-check-input:checked {
  background-color: #65AFFF;
  border-color: #65AFFF;
}
.form-check-input:focus {
  border-color: #65AFFF;
  box-shadow: 0 0 0 0.2rem rgba(101, 175, 255, 0.25);
}

.form-control:focus,
.form-select:focus {
  border-color: #65AFFF;
  box-shadow: 0 0 0 0.2rem rgba(101, 175, 255, 0.25);
}/*# sourceMappingURL=base.css.map */