.container{
    max-width: 990px;
    .top-section{
        margin-top: 5rem;
        .content{
            display: flex;
            width:375px;
        
        }
        a{
            text-decoration: none;
            margin-top: 15px;
        }
        h1{
                &::after{
                    content: '';
                    display: inline-block;
                    height: 30px;
                    margin:7px;
                    margin-bottom: 1px;
                    width: 2px;
                    background-color: #b368e5;
                }
        }
        
    }
    .middle-section{
       padding: 3%;
        .container{
            display:flex;
            justify-content: space-between;
        .btn-group{
               .btn{
                    border-radius: 50px;
                    padding: 0.3rem 1rem;
               }
        }
    }
    h2{
        margin-bottom: 1rem;
        &::after{
            content: '';
            display: block;
            margin-top: 0.5rem;
            height: 4px;
            width: 116px;
            background-color:#b368e5;
        }
    }
    
}
section{
    .group{
        width: 100%;
        .wrapper{
            display: flex;
            flex-wrap: wrap;
            gap:10px;
            padding:0%;
            margin-left: 3%;
            .card{
                display: block;
               text-align: left;
                padding: 0.5rem 1rem;
                border-radius: 3px;
        
    
            }
        }
    }
    }
        
}
