.container{
    margin:0.5rem;
    .header{
        display:flex;
        justify-content: space-between;
        
    }
    table{
        th{
            background-color: #1F2937 !important;
            a{
               text-decoration: none;
               color: #ffff;
            }
            tbody{
                background-color: #995ad4;
            }
        }
    }
    .btn-group{
           .btn{
                border-radius: 50px;
           }
    }
}

.group{
    width: 100%;

    .wrapper{
        display: flex;
        flex-wrap: wrap;
        gap:10px;

        .card{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 1rem;
            border-radius: 3px;
    
           .dot{
                content:'';
                width:10px;
                height:10px;
                background-color:#02ff67;
                border-radius: 50%;
                margin-right:0.5rem;
           }
        }
    }
}

h2{
    &::after{
        content: '';
        display: block;
        margin-top: 0.5rem;
        height: 4px;
        width: 100px;
        background-color: #3378e0;
    }
}
