.container{
    .card{
      max-width: 450px auto;
      margin: 1rem auto;
      background-color: #f7f7f7;
      padding: 1rem;
      
      h2{
        text-align: center;
        font-weight: 702;
        margin-top: 10px;
      }
    
      .form-label{
        font-weight: 400;
      }
      .button-group{
        .btn{
          width: 100%;
          border-radius: 50px;
          font-weight: 600;
        }
      }
      .dark-btn{
        .btn{
          max-width:30% auto;
          border-radius: 50px;
          font-weight: 600;
          margin-bottom: 5%;
        }
      }
    }
  }