{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'form/style.css' %}">
{% endblock style %}

{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: black;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

{% block content %}
<section id="login-card">
    <div class="container">
        <div class="card">
            <h1 class="text-title-section" style="margin-bottom: 10px;">Reset Password</h1>
            <p class="text-body-default text-center mb-4">Please enter the email address you used to register with us and we will send you a link to reset your password</p>
            <form action="" method="post">
                {% csrf_token %}
              <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  {% if form.email.errors %}
                    <ul class="errorlist">
                        {% for error in form.email.errors %}
                        <li class="alert alert-danger" role="alert">{{ error }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                  <input type="email" class="form-control" id="exampleInputEmail1" name="email" required aria-describedby="emailHelp">
              </div>
              <button class="btn btn-primary text-body-default-bold" type="submit">Reset Password</button>
            </form>
         </div>
    </div>
</section>
{% endblock content %}
