{% extends 'base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'lab/add-item/style.css' %}">
{% endblock style %}

{% block content %}


<div class="container">
    <div class="wrapper">
      <div class="card">
        <h2>Add Item</h2>
        <form action="" method="post">
            {% csrf_token %}
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Item</label>
              {% if form.item.errors %}
                    {% for error in form.item.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                    {% endfor %}
                {% endif %}
              <select class="form-select" name="item" aria-label="Default select example">
                {% for item in form.item %}
                {{item}}
                {% endfor %}
                </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Quantity</label>
            {% if form.qty.errors %}
                    {% for error in form.qty.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                    {% endfor %}
                {% endif %}
            <input type="number" class="form-control" id="exampleFormControlInput1" name="qty" placeholder="">
        </div>
          <div class="button-group">
              <button class="btn btn-primary" type="submit">Add Item</button>
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock content %}

