{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- subnav -->
{% block subnav %}
<section id="sub-nav" class="bg-light">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="side-bar">
                <a href="{% url 'lab:lab-list' lab.org.pk lab.dept.pk %}">
                    <h3 class="text-title-subsection">
                        <i class="fa-solid fa-angle-left me-2"></i>{{lab.lab_name}}
                    </h3>
                </a>
            </div>
            
            <!-- icons -->
            <div class="table-responsive">
                <table>
                    <tbody>
                      <tr>
                        {% if lab.settings.items_tab %}
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:item-list' lab.org.pk lab.dept.pk lab.pk %}"><i class="fa-solid fa-box me-2"></i>Items</a>
                        </td>
                        {% endif %}
                        {% if lab.settings.sys_tab %}
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:system-list' lab.org.pk lab.dept.pk lab.pk %}"><i class="fa-solid fa-computer me-2"></i>Systems</a>
                        </td>
                        {% endif %}
                        {% if lab.settings.categories_tab %}
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:category-list' lab.org.pk lab.dept.pk lab.pk %}"><i class="fa-solid fa-flask me-2"></i>Categories</a>
                        </td>
                        {% endif %}
                        {% if lab.settings.brands_tab %}
                        <td class="text-body-default-bold">
                            <a class="active" href="{% url 'lab:brand-list' lab.org.pk lab.dept.pk lab.pk %}"><i class="fa-solid fa-building me-2"></i>Brands</a>
                        </td>
                        {% endif %}
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:purchases:purchase-list' lab.org.pk lab.dept.pk lab.pk %}"><i class="fa-solid fa-bag-shopping me-2"></i>Purchases</a>
                        </td>
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:lab-settings' lab.org.pk lab.dept.pk lab.pk %}"><i class="fa-solid fa-gear me-2"></i>Settings</a>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</section>
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Brands</h2>
            </div>
            <a href="" class="btn btn-primary text-body-default-bold"  data-bs-toggle="modal" data-bs-target="#exampleModal">Create Brand<i class="fa-solid fa-plus ms-2"></i></a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5 text-title-subsection" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'lab:brand-create' org_id dept_id lab_id %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="mb-4">
                                <label for="exampleInputEmail1" class="form-label">Brand Name</label>
                                {% if form.brand_name.errors %}
                                    <ul class="errorlist">
                                        {% for error in brand_name.lab_name.errors %}
                                        <li class="alert alert-danger" role="alert">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <input type="text" class="form-control" id="exampleInputEmail1" name="brand_name" required aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary w-100 text-body-default-bold">Save changes</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- table -->
<section id="department-section">
    <div class="container">
        <div id="table">
            <div class="container">
                <div class="table-responsive danger">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-body-default-bold">Brand Name</th>
                        <th class="text-body-default-bold">Created on</th>
                        <th class="text-body-default-bold">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for brand in brands %}
                        <tr>
                            <td class="text-body-default">{{brand.brand_name}}</td>
                            <td class="text-body-default">{{brand.created_on.date}}</td>
                            <td><a class="text-danger text-link-default" href="{% url 'lab:brand-delete' org_id dept_id lab_id brand.pk %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}