{% extends 'base.html' %}
{% load static %}
{% block style %}

{% endblock style %}
{% block content %}



<section class="last-section">
    <div class="container">
      {% if categories %}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr> 
                 <th>
                     Category Name
                 </th>
                 <th>
                    Action
                </th>
                </tr>
               </thead>
              <tbody>
              {% for category in categories %}
                  <tr>
                      <td>
                        {{category.category_name}}
                      </td>
                      <td>
                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#{{category.id}}">Delete</button>
      
                        <div class="modal fade" id="{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <p>Do you want to delete {{category.category_name}}?</p>
                                <p class="text-muted">Items related to the category won't be deleted. However their category field will be left blank</p>
                              </div>
                              <div class="modal-footer">
                                <a href=""><button type="button" class="btn btn-sm btn-danger">Delete Category</button></a>
                              </div>
                            </div>
                          </div>
                        </div>
      
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
     </div>
     {% else %}
        <div class="text-center">
            <span>No Categories</span>
        </div>
      {% endif %}
    </div>
   </section>

{% endblock content %}

