{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'lab/group-detail/style.css' %}">
{% endblock style %}
{% block content %}

<section class="top-section">
    <div class="container">
      <div class="header">
        <div>
            <h2>{{group.title}}</h2> 
        </div> 
        <div class="button-group">
            <button type="button" class="btn btn-sm btn-dark me-2" data-bs-toggle="modal" data-bs-target="#deleteGroupModal">
                Delete Group
            </button>

            <div class="modal fade" id="deleteGroupModal" tabindex="-1" aria-labelledby="deleteGroupModal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="deleteGroupModal">Delete {{group.title}}</h1>
                    </div>
                    <div class="modal-body">
                      Do you want to delete <span class="text-danger">"{{group.title}}"</span> and all it's <span class="text-danger">contents</span>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                      <a href="{% url 'lab:group-delete' lab.pk group.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
                    </div>
                  </div>
                </div>
              </div>

            <a href="{% url 'lab:add-group-item' lab.pk group.pk %}">
                <button type="button" class="btn btn-sm btn-primary">
                  Add Item
                </button>
            </a>
        </div>
      </div>
    </div>
 </section> 
{% if group_items %}
 <section class="mb-3">
  <div class="container">
    <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
       <tr> 
        <th>
            Item Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Group
        </th>
       </tr>
      </thead>
        <tbody>
        {% for group_item in group_items %}
            <tr>
                <td>
                  <button style="border: none; color: blue; background-color: transparent;" data-bs-toggle="modal" data-bs-target="#{{group_item.id}}">{{group_item.item}}</button>

                  <div class="modal fade" id="{{group_item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">{{group_item.item}} Details</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <ul>
                            <li>Item Name: {{group_item.item}}</li>
                            <li>Qty: {{group_item.qty}}</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <a href="#"><button type="button" class="btn btn-sm btn-primary">Edit Item</button></a>
                          <a href="#"><button type="button" class="btn btn-sm btn-danger">Remove Item</button></a>
                        </div>
                      </div>
                    </div>
                  </div>

                </td>
                <td>{{group_item.qty}}</td>
                <td>{{group_item.group}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>
  </div>
 </section>
 {% endif %}

{% endblock content %}


