{% extends 'base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'lab/add-item/style.css' %}">
{% endblock style %}

{% block content %}


<div class="container">
    <div class="wrapper">
      <div class="card">
        <h2>Update Item</h2>
        <form action="" method="post">
            {% csrf_token %}
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Item Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="item_name" placeholder="" value="{{item.item_name}}">
          </div>
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" name="qty" placeholder="" value="{{item.qty}}">
          </div>
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Unit of measure</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="unit_of_measure" placeholder="" value="{{item.unit_of_measure}}">
          </div>
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Category</label>
              <select class="form-select" name="category" aria-label="Default select example">
                {% for item in form.category %}
                {{item}}
                {% endfor %}
                </select>
          </div>
          <div class="button-group">
              <button class="btn btn-primary" type="submit">Update Item</button>
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock content %}

