{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'lab/item-list/style.css' %}">
{% endblock style %}
{% block content %}

<section class="top-section">
  <div class="container">
  <div class="content">
    <h1><span>{{lab.lab_name}}</span></h1>
    {% if user.is_admin or user.is_superuser %}
    <a href="{% url 'lab:lab-update' lab.pk %}">Lab settings</a>
    {% endif %}
  </div>
  <p>Managed by : 
    {% for user in lab.user.all %}
      <span class="badge rounded-pill text-bg-dark">{{user.email}}</span>
    {% endfor %}
  </p>
</div>
</section>

<section class="middle-section">
    <div class="container">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'lab:item-list' lab.pk %}">Item List</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'lab:group-list' lab.pk %}">Groups</a>
            </li>
        </ul>
        <div class="button-group">
            <div class="btn-group">
                <a href="{% url 'lab:add-item' lab.pk%}">
                    <button type="button" class="btn btn-primary btn-sm " aria-expanded="false">
                    Add Item
                    </button>
                </a>
            </div>
        </div>
    </div>
</section> 

<section class="last-section">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
             <tr> 
              <th>
                  Item Name
              </th>
              <th>
                  Quantity
              </th>
              <th>
                  Measure
              </th>
              <th>
                  Category
              </th>
              <th>
                Group
            </th>
             </tr>
            </thead>
              <tbody>
              {% for item in items %}
                  <tr>
                      <td>
                        <button style="border: none; color: blue; background-color: transparent;" data-bs-toggle="modal" data-bs-target="#{{item.id}}">{{item.item_name}}</button>
      
                        <div class="modal fade" id="{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{item.item_name}} Details</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <ul>
                                  <li>Item Name: {{item.item_name}}</li>
                                  <li>Qty: {{item.qty}}</li>
                                  <li>Measure: {{item.unit_of_measure}}</li>
                                  <li>Category: {{item.category}}</li>
                                  <li>Total Price: $21</li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <a href="{% url 'lab:item-update' lab.pk item.pk %}"><button type="button" class="btn btn-sm btn-primary">Edit Item</button></a>
                                <a href="{% url 'lab:item-delete' lab.pk item.pk %}"><button type="button" class="btn btn-sm btn-danger">Delete Item</button></a>
                              </div>
                            </div>
                          </div>
                        </div>
      
                      </td>
                      <td>{{item.qty}}</td>
                      <td>{{item.unit_of_measure}}</td>
                      <td>{{item.category}}</td>
                      <td>{{item.group}}</td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
     </div>
    </div>
   </section>

{% endblock content %}

