{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'lab/lab-detail/style.css' %}">
{% endblock style %}
{% block content %}

<section class="top-section">
  <div class="container">
  <div class="content">
    <h1><span>{{lab.lab_name}}</span></h1>
    <a href="{% url 'lab:lab-update' lab.pk %}">Lab settings</a>
  </div>
  <p>Managed by : 
    {% for user in lab.user.all %}
      <span class="badge rounded-pill text-bg-dark">{{user.email}}</span>
    {% endfor %}
  </p>
</div>
</section>

<section class="middle-section">
<div class="container">
  <h3>Groups</h3>  
  <div class="button-group">
    <div class="btn-group">
      <a href="{% url 'lab:create-group' lab.pk%}">
        <button type="button" class="btn btn-primary btn-sm " aria-expanded="false">
          Create group
        </button>
      </a>
    </div>
  </div>
</div>
</section> 

<section class="last-section">
<div class="container">
    <div class="group">
      {% if groups %}
      <div class="wrapper">
          {% for group in groups %}
          <a href="{% url 'lab:group-detail' lab.pk group.pk%}" class="card-link">
            <div class="card"><span><b>{{group.title}}</b></span>
              <p>Date create : {{group.date_created}}</p>
            </div>
          </a>
          {% endfor %}
      </div>
  {% else %}
      <div class="text-center">
        <span>No groups</span>
      </div>
      {% endif %}
</div>
</section>

{% endblock content %}

