{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'form/style.css' %}">
{% endblock style %}

{% block subnav %}
<!-- subnav -->
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: black;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

<!-- form block -->
{% block content %}
<section id="login-card">
  <div class="container">
      <div class="card">
          <h1 class="text-title-section">Create Category</h1>
          <form action="" method="post">
              {% csrf_token %}
            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label text-body-default">Select item to be removed</label>
                <!-- selected_field.errors -->
                {% if form.selected_field.errors %}
                  <ul class="errorlist">
                      {% for error in form.selected_field.errors %}
                      <li class="alert alert-danger" role="alert">{{ error }}</li>
                      {% endfor %}
                  </ul>
                {% endif %}
                <select class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp" name="selected_field">
                  <option value="">---------------------</option>
                  {% for key, value in item_field_dict.items %}
                    <option class="text-body-default" value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="mb-4">
              <label for="exampleInputEmail1" class="form-label text-body-default">Description</label>
              <!-- description.errors -->
              {% if form.description.errors %}
                  <ul class="errorlist">
                      {% for error in form.description.errors %}
                      <li class="alert alert-danger" role="alert">{{ error }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
              <textarea name="description"  class="form-control text-body-default" id="exampleInputEmail1" placeholder="Enter text" required aria-describedby="emailHelp"></textarea>
          </div>
            <button class="btn btn-primary text-body-default-bold" type="submit">Remove item</button>
          </form>
       </div>
  </div>
</section>
{% endblock content %}
