{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- subnav block -->
{% block subnav %}
<section id="sub-nav">
  <div class="container pt-2 pb-2">
      <a style="text-decoration: none; color: #ffffff;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
  </div>
</section>
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">{{system.sys_name}}</h2>
            </div>


            <a href="" class="btn btn-primary text-body-default-bold"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add Component<i class="fa-solid fa-plus ms-2"></i></a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5 text-title-subsection" id="exampleModalLabel">Add Component</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="{% url 'lab:add_component' org_id dept_id lab_id sys_id %}">
                        {% csrf_token %}
                        <div class="modal-body">
                          <select name="category" hx-get="{% url 'lab:load_items' org_id dept_id lab_id sys_id %}" hx-target="#id_item" id="id_category">
                            {% for category in form.category %}
                              {{category}}
                            {% endfor %}
                          </select>
                          {{form.item}}
                          {{form.component_type}}
                          {{form.serial_no}}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary w-100 text-body-default-bold">Add Component</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- table block -->
<section id="department-section">
    <div class="container">
        <div id="table">
            <div class="container">
                <div class="table-responsive danger">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-body-default-bold">Item</th>
                        <th class="text-body-default-bold">Component Type</th>
                        <th class="text-body-default-bold">Serial no</th>
                        <th class="text-body-default-bold">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       {% for component in components %}
                        <tr>
                            <td style="white-space: nowrap;" class="text-body-default">{{component.item}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">{{component.component_type}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">{{component.serial_no}}</td>
                            <td>
                                <a class="mng text-link-default" data-bs-toggle="modal" data-bs-target="#{{component.pk}}" href="#">Manage</a>

                                <!-- Modal -->
                                <div class="modal fade" id="{{component.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{component.pk}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <div>
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{component.item}} ({{component.component_type}})</h1>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-body-default">
                                        <p><b>Serial No</b>: {{component.serial_no}}</p>
                                        <p><b>Item id</b>: {{component.item.unique_code}}</p>
                                        </div>
                                        <div class="modal-footer">
                                        <a href="{% url 'lab:item-remove' org_id dept_id lab_id component.item.pk %}?qty=1&reason=Depreciation&componentid={{component.pk}}" type="button" class="btn btn-primary text-body-default-bold"><i class="fa-solid fa-pen-to-square me-2"></i>Depreciate</a>
                                        <a type="button" class="btn btn-outline-danger text-body-default-bold" data-bs-target="#{{component.pk}}2" data-bs-toggle="modal"><i class="fa-solid fa-trash me-2"></i>Delete</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="{{component.pk}}2" aria-hidden="true" aria-labelledby="{{component.pk}}2" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5 text-title-subsection" id="exampleModalToggleLabel2">Delete {{component.item}} ({{component.component_type}})?</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-body-default text-danger">
                                          <b>Deleting this will add the item back to the stock if you want to record it as depreciation choose "Depreciate"</b>
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'lab:delete_component' org_id dept_id lab_id sys_id component.pk %}" class="btn btn-outline-danger text-body-default-bold"><i class="fa-solid fa-trash me-2"></i>Yes Delete</a>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}







<div class="container mt-5">
  <h1 class="pt-5">{{system.sys_name}}</h1>
  <ul id="component-list">
    {% for component in components %}
  <li>{{component.item}} {{component.component_type}} {{component.serial_no}}</li>
{% endfor %}
  </ul>

<a href="#"><p>Add component</p></a>

<form method="POST" action="{% url 'lab:add_component' org_id dept_id lab_id sys_id %}">
  {% csrf_token %}
  <select name="category" hx-get="{% url 'lab:load_items' org_id dept_id lab_id sys_id %}" hx-target="#id_item" id="id_category" required>
    {% for category in form.category %}
      {{category}}
    {% endfor %}
  </select>
  {{form.item}}
  {{form.component_type}}
  {{form.serial_no}}
  <button type="submit">Submit</button>
</form>

</div>