{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

{% block subnav %}
<section id="sub-nav" class="bg-light">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="side-bar">
                <a href="{% url 'lab:lab-list' org.pk dept.pk %}">
                    <h3 class="text-title-subsection">
                        <i class="fa-solid fa-angle-left me-2"></i>{{lab.lab_name}}
                    </h3>
                </a>
            </div>
            
            <div class="table-responsive">
                <table>
                    <tbody>
                      <tr>
                        {% if lab_settings.items_tab %}
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:item-list' org.pk dept.pk lab.pk %}"><i class="fa-solid fa-list me-2"></i>Items</a>
                        </td>
                        {% endif %}
                        {% if lab_settings.sys_tab %}
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:system-list' org.pk dept.pk lab.pk %}" class="active"><i class="fa-solid fa-computer me-2"></i>Systems</a>
                        </td>
                        {% endif %}
                        {% if lab_settings.categories_tab %}
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:category-list' org.pk dept.pk lab.pk %}"><i class="fa-solid fa-flask me-2"></i>Categories</a>
                        </td>
                        {% endif %}
                        {% if lab_settings.brands_tab %}
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:brand-list' org.pk dept.pk lab.pk %}"><i class="fa-solid fa-building me-2"></i>Brands</a>
                        </td>
                        {% endif %}
                        <td class="text-body-default-bold">
                            <a href="{% url 'lab:lab-settings' org.pk dept.pk lab.pk %}"><i class="fa-solid fa-gear me-2"></i>Settings</a>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</section>
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Systems</h2>
            </div>
            <a href="{% url 'lab:add-system' org.pk dept.pk lab.pk %}" class="btn btn-primary text-body-default-bold">Add System<i class="fa-solid fa-plus ms-2"></i></a>
        </div>
    </div>
</section>

<section id="department-section">
    <div class="container">
        <div id="table">
            <div class="container">
                <div class="table-responsive danger">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-body-default-bold">System Name</th>
                        <th class="text-body-default-bold">Processor</th>
                        <th class="text-body-default-bold">Ram</th>
                        <th class="text-body-default-bold">HDD</th>
                        <th class="text-body-default-bold">OS</th>
                        <th class="text-body-default-bold">Monitor</th>
                        <th class="text-body-default-bold">Mouse</th>
                        <th class="text-body-default-bold">Keyboard</th>
                        <th class="text-body-default-bold">CPU Cabin</th>
                        <th class="text-body-default-bold">Status</th>
                        <th class="text-body-default-bold">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for system in systems %}
                        <tr>
                            <td class="text-body-default">{{system.sys_name}}</td>
                            <td class="text-body-default">{{system.processor.item_name}}</td>
                            <td class="text-body-default">{{system.ram.item_name}}</td>
                            <td class="text-body-default">{{system.hdd.item_name}}</td>
                            <td class="text-body-default">{{system.os.item_name}}</td>
                            <td class="text-body-default">{{system.monitor.item_name}}</td>
                            <td class="text-body-default">{{system.mouse.item_name}}</td>
                            <td class="text-body-default">{{system.keyboard.item_name}}</td>
                            <td class="text-body-default">{{system.cpu_cabin.item_name}}</td>
                            <td class="text-body-default">{{system.status}}</td>
                            
                            <td>
                                <a class="mng text-link-default" data-bs-toggle="modal" data-bs-target="#{{system.pk}}" href="#">Manage</a>

                                <!-- Modal -->
                                <div class="modal fade" id="{{system.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{item.pk}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{system.sys_name}}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-body-default">
                                        Choose any options from below
                                        </div>
                                        <div class="modal-footer">
                                        <a href="{% url 'lab:update-system' org.pk dept.pk lab.pk system.pk %}" type="button" class="btn btn-primary text-body-default-bold"><i class="fa-solid fa-pen-to-square me-2"></i>Edit</a>
                                        <div class="dropdown mb-0">
                                            <button class="btn btn-outline-primary dropdown-toggle text-body-default-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                              More
                                            </button>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="{% url 'lab:remove-item-system' org.pk dept.pk lab.pk system.pk %}">Remove item</a></li>
                                              <li><a class="dropdown-item" data-bs-target="#{{system.pk}}2" data-bs-toggle="modal" href="#">Delete System</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="{{system.pk}}2" aria-hidden="true" aria-labelledby="{{system.pk}}2" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5 text-title-subsection" id="exampleModalToggleLabel2">Delete</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-body-default text-danger">
                                          Are you sure you want to delete {{system.sys_name}}?
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'lab:system-delete' org.pk dept.pk lab.pk system.pk %}" class="btn btn-danger text-body-default-bold"><i class="fa-solid fa-trash me-2"></i>Yes Delete</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
</section>

{% endblock content %}