.container{
    margin: 9rem auto;
  h2{
    text-align: center;
    font-weight: 702;
    margin-top: 19px;
   }
  p{
    text-align: center;
    color: #444444;
  }
  .button-group{
    text-align: center;
     .btn{
      border-radius: 50px;
      font-weight: 500;
     }
   }
}