.container{
    margin: 3rem auto;
  h2{
    text-align: center;
    font-weight: 702;
    margin-top: 19px;
   }
  p{
    text-align: center;
  }
  .button-group{
   
     .btn{
      width: 100%;
      border-radius: 50px;
      font-weight: 600;
     }
   }
}