{% extends 'base.html' %}


<!-- subnav block -->
{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: #ffffff;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

{% block content %}

<section class="mt-3 container">
    <h1 class="text-title-section">{{purchase.item}}</h1>
    <p>{{purchase.vendor.name}}</p>
    <p>Qty : {{purchase.qty}}</p>
    {% if not purchase.approved %}
    <a class="btn btn-primary text-body-default-bold" href="{% url 'org:lab:purchases:purchase-update' purchase.org.pk purchase.dept.pk purchase.lab.pk purchase.pk %}">Edit</a>
    <a class="btn btn-outline-danger text-body-default-bold" href="{% url 'org:lab:purchases:purchase-delete' purchase.org.pk purchase.dept.pk purchase.lab.pk purchase.pk %}">Delete</a>
    {% endif %}
    {% if purchase.approved and not purchase.completed %}
        <a href="{% url 'org:lab:purchases:purchase-complete' purchase.org.pk purchase.dept.pk purchase.lab.pk purchase.pk %}" class="btn-success btn text-body-default-bold">Mark Completed</a>
    {% endif %}
    {% if purchase.completed and not purchase.added_to_stock %}
        <a href="#" class="btn-primary btn text-body-default-bold">Add to stock</a>
    {% endif %}
    {% if purchase.added_to_stock %}
        <p class="text-body-default-bold text-success"><i class="fa-solid fa-check me-2"></i>Added to stock</p>
    {% endif %}
    {% if not purchase.approved %}
        <p class="text-body-default-bold text-secondary"><i class="fa-solid fa-spinner me-2"></i>Waiting for approval</p>
    {% endif %}
    <p class="text-body-default-bold text-danger"><i class="fa-solid fa-x me-2"></i>Request Declined</p>
</section>

{% endblock content %}