{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'purchases/purchase-details/style.css' %}">
{% endblock style %}

<!-- subnav block -->
{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: #ffffff;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

{% block content %}

<section class="mt-4 container">
    <div class="row">
        <div class="col">
            <h1 class="text-title-section">{{purchase.item}}</h1>
            <h4 class="text-body-default-bold lab-name">{{purchase.lab.lab_name}}</h4>
            <hr>
            <div class="text-wrap">
                <h4 class="mt-2">Vendor Details</h4>
                <p class="text-body-default">{{purchase.vendor.name}}</p>
                <p class="text-body-default">Huskur Gate,Hosur Road</p>
                <p class="text-body-default">Bengaluru,Karnataka</p>
                <p class="text-body-default">560100</p>
                <h6 class="text-body-default">+91 9238372523</h6>
            </div>
        </div>
        <div class="col">
            <p class="text-body-default">Created on: {{purchase.created_on.date}}</p>
            <p class="text-body-default">#2KL12JUSDFSFL@#GHY</p>
            <p class="text-body-default">Qty: {{purchase.qty}}</p>
        </div>
    </div>
    {% if not purchase.approved and not purchase.declined %}
    <a class="btn btn-primary text-body-default-bold" href="{% url 'org:lab:purchases:purchase-update' purchase.org.pk purchase.dept.pk purchase.lab.pk purchase.pk %}">Edit</a>
    <a class="btn btn-outline-danger text-body-default-bold" href="{% url 'org:lab:purchases:purchase-delete' purchase.org.pk purchase.dept.pk purchase.lab.pk purchase.pk %}">Delete</a>
    {% endif %}
    {% if purchase.approved and not purchase.completed %}
        <a href="{% url 'org:lab:purchases:purchase-complete' purchase.org.pk purchase.dept.pk purchase.lab.pk purchase.pk %}" class="btn-success btn text-body-default-bold">Mark Completed</a>
    {% endif %}
    {% if purchase.completed and not purchase.added_to_stock %}
        <a href="{% url 'org:lab:purchases:purchase-add-to-stock' purchase.org.pk purchase.dept.pk purchase.lab.pk purchase.pk %}" class="btn-primary btn text-body-default-bold">Add to stock</a>
    {% endif %}

    {% if purchase.added_to_stock %}
        <p class="text-body-default-bold text-success"><i class="fa-solid fa-check me-2"></i>Added to stock</p>
    {% elif purchase.completed %}
        <p class="text-body-default-bold text-secondary"><i class="fa-solid fa-check me-2"></i>Purchase complete</p>
    {% elif purchase.declined %}
        <p class="text-body-default-bold text-danger"><i class="fa-solid fa-x me-2"></i>Request Declined</p>
    {% elif purchase.approved %}
        <p class="text-body-default-bold text-success"><i class="fa-solid fa-check me-2"></i>Approved</p>
    {% else %}
        <p class="text-body-default-bold text-secondary"><i class="fa-solid fa-spinner me-2"></i>Waiting for approval</p>
    {% endif %}

</section>

{% endblock content %}