{% extends 'base.html' %}


<!-- subnav block -->
{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: #ffffff;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

{% block content %}

<section class="mt-3 container">
    <h1>{{purchase.item}}</h1>
    <p>{{purchase.vendor.name}}</p>
    <p>Qty : {{purchase.qty}}</p>
    <a class="btn btn-primary" href="{% url 'lab:purchases:purchase-update' purchase.org.pk purchase.dept.pk purchase.lab.pk purchase.pk %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'lab:purchases:purchase-delete' purchase.org.pk purchase.dept.pk purchase.lab.pk purchase.pk %}">Delete</a>
</section>

{% endblock content %}