{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/password-reset-form/style.css' %}">
{% endblock style %}
{% block content %}

<div class="container">
    <div class="wrapper">
      <div class="card">
        <h2>Password Reset</h2>
        <p>Forgot your password? Please enter the email address you used to register with us and we will send you a link to reset your password</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_email" class="form-label">Email Address</label>
                <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
            </div>
            <div class="reset-password">
                <button class="btn btn-primary" type="submit">Reset password</button>
            </div>
        </form>
      </div>
    </div>
</div>

<div>
    <a href="{% url 'landing-page' %}">Return to home page</a>
</div>


{% endblock content %}
