{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- subnav block -->
{% block subnav %}
<section id="sub-nav" class="bg-light">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="side-bar">
                <a>
                    <h3 class="text-title-subsection">
                        Organisation Dashboard
                    </h3>
                </a>
            </div>
            
            <!-- icon -->
            <div class="table-responsive">
                <table>
                    <tbody>
                      <tr>
                        <td class="text-body-default-bold">
                            <a href="{% url 'org:dept-list' request.user.profile.org.pk %}"><i class="fa-solid fa-list me-2"></i>Departments</a>
                        </td>
                        <td class="text-body-default-bold">
                            <a href="{% url 'org:org-people-list' request.user.profile.org.pk %}"><i class="fa-solid fa-group-arrows-rotate me-2"></i>People</a>
                        </td>
                        <td class="text-body-default-bold">
                            <a href="{% url 'org:vendors-list' request.user.profile.org.pk %}"><i class="fa-solid fa-shop me-2"></i>Vendors</a>
                        </td>
                        <td class="text-body-default-bold">
                            <a href="{% url 'org:purchase-list' request.user.profile.org.pk %}" class="active"><i class="fa-solid fa-bag-shopping me-2"></i>Purchases</a>
                        </td>
                        <!--
                        <td class="text-body-default-bold">
                            <a href="#"><i class="fa-solid fa-gear me-2"></i>Settings</a>
                        </td>
                        -->
                      </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</section>
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Purchases</h2>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm text-body-default-bold dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        New Purchase
                    </button>                                                                               
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-body-default" href="">New item</a></li>
                        <li><a class="dropdown-item text-body-default" href="">Existing item</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- table block -->
<section id="department-section">
    <div class="container">
        {% if purchases %}
        {% for purchase in purchases %}
        {{ purchase }}
        {% endfor %}
        {% else %}
        <div class="text-center text-body-default">
            No purchases yet
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}