{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- Sub-nav block -->
{% block subnav %}
{% include 'org/admin-sub-nav.html' %}
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Purchases</h2>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm text-body-default-bold dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        New Purchase
                    </button>                                                                               
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-body-default" href="">New item</a></li>
                        <li><a class="dropdown-item text-body-default" href="">Existing item</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- table block -->
<section id="department-section">
    <div class="container">
        {% if purchases %}
        {% for purchase in purchases %}
        <a href="{% url 'org:purchase-detail' purchase.org.pk purchase.pk %}">{{ purchase }}</a>
        {% endfor %}
        {% else %}
        <div class="text-center text-body-default">
            No purchases yet
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}