<section id="sub-nav" class="bg-light">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="side-bar">
                <a>
                    <h3 class="text-title-subsection">
                        Organisation Dashboard
                    </h3>
                </a>
            </div>
            
            <!-- icon -->
            <div class="table-responsive">
                <table>
                    <tbody>
                      <tr>
                        <td class="text-body-default-bold">
                            <a href="{% url 'org:dept-list' request.user.profile.org.pk %}" class="{% if request.resolver_match.url_name == 'dept-list' %}active{% endif %}"><i class="fa-solid fa-list me-2"></i>Departments</a>
                        </td>
                        <td class="text-body-default-bold">
                            <a href="{% url 'org:org-people-list' request.user.profile.org.pk %}" class="{% if request.resolver_match.url_name == 'org-people-list' %}active{% endif %}"><i class="fa-solid fa-group-arrows-rotate me-2"></i>People</a>
                        </td>
                        <td class="text-body-default-bold">
                            <a href="{% url 'org:item-list' request.user.profile.org.pk %}" class="{% if request.resolver_match.url_name == 'item-list' %}active{% endif %}"><i class="fa-solid fa-box me-2"></i>Items</a>
                        </td>
                        <td class="text-body-default-bold">
                            <a href="{% url 'org:vendors-list' request.user.profile.org.pk %}" class="{% if request.resolver_match.url_name == 'vendors-list' %}active{% endif %}"><i class="fa-solid fa-shop me-2"></i>Vendors</a>
                        </td>
                        <td class="text-body-default-bold">
                            <a href="{% url 'org:purchase-list' request.user.profile.org.pk %}" class="{% if request.resolver_match.url_name == 'purchase-list' %}active{% endif %}"><i class="fa-solid fa-bag-shopping me-2"></i>Purchases</a>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</section>