{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- Sub-nav block -->
{% block subnav %}
{% include 'org/admin-sub-nav.html' %}
{% endblock subnav %}

{% block content %}
<!-- form block -->
<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Departments</h2>
            </div>
            <div>
                <!--
                <a href="#" class="btn btn-outline-primary text-body-default-bold">Generate Report<i class="fa-solid fa-file-pdf ms-2"></i></a>
                -->
            <a href="{% url 'org:dept-create' org.pk %}" class="btn btn-primary text-body-default-bold">Create Department<i class="fa-solid fa-plus ms-2"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- table block -->
<section id="department-section">
    <div class="container">
        <div id="table">
            <div class="container">
                <div class="table-responsive danger">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-body-default-bold">Department Name</th>
                        <th class="text-body-default-bold">Department Head</th>
                        <th class="text-body-default-bold">Created on</th>
                        <th class="text-body-default-bold">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                        <tr>
                            <td class="text-body-default"><a href="{% url 'org:lab:lab-list' org.pk department.pk %}">{{department.name}}</a></td>
                            <td class="text-body-default">{{department.head}}</td>
                            <td class="text-body-default">{{department.created_on.date}}</td>
                            <td>
                                <a class="mng text-link-default" href="{% url 'org:dept-update' org.pk department.pk %}">Edit</a>
                                <a class="text-link-default text-danger" href="{% url 'org:dept-delete' org.pk department.pk %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
</section>

{% endblock content %}