{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'org-dashboard/style.css' %}">
{% endblock style %}

<!-- subnav -->
{% block subnav %}
{% include 'org/admin-sub-nav.html' %}
{% endblock subnav %}

{% block content %}

<section id="header-section">
    <div class="container">
        <div class="wrap">
            <div class="heading-wrap">
                <h2 class="text-title-section">Items</h2>
            </div>
            <!-- <div>
                <a href="" class="btn btn-primary text-body-default-bold">Add Item<i class="fa-solid fa-plus ms-2"></i></a>
            </div> -->
        </div>
    </div>
</section>

<!-- table block -->
<section id="department-section">
    <div class="container">

        {% if items %}
        <div id="table">
            <div class="container">
                <div class="table-responsive danger">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-body-default-bold">Item ID</th>
                        <th class="text-body-default-bold">Item Name</th>
                        <th class="text-body-default-bold">Quantity</th>
                        <th class="text-body-default-bold">Category</th>
                        <th class="text-body-default-bold">Added on</th>
                        <th class="text-body-default-bold">Lab</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.unique_code}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.item_name}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.total_qty}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.category}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.created_on.date}}</td>
                            <td style="white-space: nowrap;" class="text-body-default">{{item.lab.lab_name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center text-body-default">
            No items added yet
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}