{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'core/change-password/style.css' %}">
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="card">
            <h2 class="mb-3">Change Password</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_old_password" class="form-label" id="font">Old Password</label>
                    <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                </div>
                <div class="mb-3">
                    <label for="id_new_password1" class="form-label" id="font">New password</label>
                    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                </div>
                <div class="mb-3">
                    <label for="id_new_password2" class="form-label" id="font">Confirm new password</label>
                    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                </div>
                <div class="reset-password">
                    <button class="btn btn-primary" type="submit">Reset password</button>
                </div>
            </form>
        </div>
    </div>

    <a href="{% url 'landing-page' %}">Back</a>
{% endblock content %}