{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'form/style.css' %}">
{% endblock style %}

<!-- subnav block -->
{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: #ffffff;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

<!-- form block -->
{% block content %}
<section id="login-card">
    <div class="container">
        <div class="card">
            <h1 class="text-title-section">Change Password</h1>
            <form action="" method="post">
                {% csrf_token %}
              <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label">Old Password</label>
                  <!-- old password error -->
                  {% if form.old_password.errors %}
                        {% for error in form.old_password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
                  <input type="password" class="form-control" id="exampleInputEmail1" name="old_password"  required aria-describedby="emailHelp">
              </div>
              <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">New Password</label>
                <!-- new password error -->
                {% if form.new_password1.errors %}
                      {% for error in form.new_password1.errors %}
                          <div class="alert alert-danger" role="alert">
                              {{error}}
                          </div>
                      {% endfor %}
                  {% endif %}
                <input type="password" class="form-control" id="exampleInputEmail1" name="new_password1"  required aria-describedby="emailHelp">
            </div>
            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">Confirm New Password</label>
                <!-- new password error -->
                {% if form.new_password2.errors %}
                      {% for error in form.new_password2.errors %}
                          <div class="alert alert-danger" role="alert">
                              {{error}}
                          </div>
                      {% endfor %}
                  {% endif %}
                <input type="password" class="form-control" id="exampleInputEmail1" name="new_password2"  required aria-describedby="emailHelp">
                <!-- butto block inside form block -->
            </div>
              <button class="btn btn-primary text-body-default-bold" type="submit">Change Password</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
