{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'form/style.css' %}">
{% endblock style %}

{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: black;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

{% block content %}
<section id="login-card">
    <div class="container">
        <div class="card">
            <h1 class="text-title-section">Create Department</h1>
            <form action="" method="post">
                {% csrf_token %}
              <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label">Department Name</label>
                  {% if form.name.errors %}
                    <ul class="errorlist">
                        {% for error in form.name.errors %}
                        <li class="alert alert-danger" role="alert">{{ error }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                  <input type="text" class="form-control" id="exampleInputEmail1" name="name" required aria-describedby="emailHelp">
              </div>
              <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label">Incharge</label>
                  {% if form.incharge.errors %}
                        {% for error in form.incharge.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <select class="form-select" name="incharge" aria-label="Default select example">
                        {% for incharge in form.incharge %}
                        {{incharge}}
                        {% endfor %}
                    </select>
              </div>
              <button class="btn btn-primary text-body-default-bold" type="submit">Create Department</button>
            </form>
         </div>
    </div>
</section>
{% endblock content %}
