{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'form/style.css' %}">
{% endblock style %}

<!-- Subnav block -->
{% block subnav %}
<section id="sub-nav">
    <div class="container pt-2 pb-2">
        <a style="text-decoration: none; color: #ffffff;" href="#" onclick="history.back()" class="text-body-default-bold"><i class="fa-solid fa-angle-left me-2"></i>Go back</a>
    </div>
</section>
{% endblock subnav %}

<!-- form block -->
{% block content %}
<section id="login-card">
    <div class="container">
        <div class="card">
            <h1 class="text-title-section">Sign in</h1>
            {% if form.errors %}
                <div class="errors">
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger text-center text-body-default" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
              <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label text-body-default">Email address</label>
                  <!-- username error -->
                  {% if form.username.errors %}
                    <ul class="errorlist">
                        {% for error in form.username.errors %}
                        <li class="alert alert-danger" role="alert">{{ error }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                  <input type="email" class="form-control" id="exampleInputEmail1" name="username" required aria-describedby="emailHelp">
              </div>
              <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label text-body-default">Password</label>
                  <!-- password error -->
                  {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
                  <input type="password" class="form-control" id="exampleInputEmail1" name="password"  required aria-describedby="emailHelp">
              </div>
                <div class="forgot-password">
                  <a href="{% url 'core:reset-password' %}" class="text-link-default">Forgot password?</a>
                </div>
              <button class="btn btn-primary text-body-default-bold" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
