<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SFS College Lab Report</title>
  <style>
    @page {
      size: A4 landscape;  /* Adjust page size if needed */
      margin: 1cm;
    }
    body {
      font-family: Arial, sans-serif;
      font-size: 10pt;
      margin: 20px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 60px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    th {
      text-align: left;
      background-color: #f2f2f2;
    }

    section {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <header style="text-align: center;">
    <h1 style="line-height: 0;">{{organization_name}}</h1>
    <p style="font-size: 18px; font-weight: bold;">Lab Report</p>
  </header>

  <section>
    <div>
      <p>No of labs: <span id="num_labs">{{lab_count}}</span></p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Lab Name</th>
          <th>Incharge</th>
          <th>Department</th>
          <th>Room no</th>
        </tr>
      </thead>
      <tbody>
        {% for lab in lab_report %}
        <tr>
            <td>{{lab.lab_name}}</td>
            <td>
              {% for user in lab.lab_incharge %}
              {{user}}
              {% endfor %}
            </td>
            <td>{{lab.dept}}</td>
            <td>{{lab.room_no}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </section>

  {% for lab in lab_report %}
  <section>
    <h2 style="line-height: 0;"><span id="lab_name">{{lab.lab_name}}</span></h2>
    <div class="item-details">

        {% if lab.items %}
          <table>
            <thead>
                <tr>
                  <th>Item id</th>
                  <th>Item name</th>
                  <th>Total Qty</th>
                  <th>Available qty</th>
                  <th>Damanged</th>
                </tr>
            </thead>
            {% for item in lab.items %}
            <tr>
                <td>
                  {{item.unique_code}}
                </td>
                <td>
                  {{item.item_name}}
                </td>
                <td>
                  {{item.total_qty}}
                </td>
                <td>
                  {{item.total_available_qty}}
                </td>
                <td>
                  {{item.removed_qty}}
                </td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if lab.systems %}
          <table>
            <thead>
                <tr>
                  <th>System id</th>
                  <th>System name</th>
                  <th>System status</th>
                  <th>Created on</th>
                </tr>
            </thead>
            {% for system in lab.systems %}
            <tr>
                <td>
                    {{system.unique_code}}
                </td>
                <td>
                  {{system.sys_name}}
                </td>
                <td>
                  {{system.status}}
                </td>
                <td>
                  {{system.created_on.date}}
                </td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if lab.brands %}
          <table>
            <thead>
                <tr>
                  <th>Brands</th>
                  <th>Created On</th>
                </tr>
            </thead>
            {% for brand in lab.brands %}
            <tr>
                <td>
                    {{brand.brand_name}}
                </td>
                <td>
                  {{brand.created_on.date}}
              </td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if lab.categories %}
          <table>
            <thead>
                <tr>
                  <th>Category</th>
                  <th>Created On</th>
                </tr>
            </thead>
            {% for category in lab.categories %}
            <tr>
                <td>
                    {{category.category_name}}
                </td>
                <td>
                  {{category.created_on}}
              </td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
        
      </div>
  </section>
  {% endfor %}
</body>
</html>
