@import '../base/sass/colors';

// sub-nav design
#sub-nav{
    margin-top: 60px;
    background-color: $dark-purple !important;
    padding: 0.5rem 0;
    .container-fluid{
        .wrapper{
            display: flex;
            flex-wrap: wrap;
    
            .side-bar{
                @media only screen and (max-width: 863px){
                    margin-bottom: 1rem;
                }
                a{
                    text-decoration: none;
                    .text-title-subsection{
                        margin-top: 8px;
                        color: $base-light;
                    }
                }
            }
    
            // table design
            .table-responsive{
                display: flex;
                table{
                    @media only screen and (min-width: 840px){
                        margin-left: 1.5rem;
                    }
                    
                    td{
                        padding: 0 1.5rem;
                        text-align: center;

                        .text-body-default-bold{
                            font-size: 16px !important;
                        }
    
                        a{
                            text-decoration: none;
                            color: $base-light;
                            opacity: 80%;
    
                            &::after{
                                content:'';
                                display: block;
                                height: 2px;
                                width: 100%;
                                transition: all 0.2s ease-in-out;
                            }
                        }
    
                        .active{
                            opacity: 100%;
                            &::after{
                                content:'';
                                background-color: $argentain-blue;
                                display: block;
                                border-radius: 30px;
                                height: 3px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
    
            .item{
                margin-bottom: 1rem;
                &::after{
                    content:' ';
                    background-color: $argentain-blue;
                    display: block;
                    margin-top: 0.1rem;
                    height: 2px;
                    width: 78px;
                    margin-left: 2px;
                }        
            }
        }
    }
}
