@import './base';

#sub_admin_dashboard{
    .card{
       color:aliceblue;
       border:5px;
       width:100%;
       background-color: #013198;
       padding:20px;
       display: flex;
       justify-content: space-between;
   }
    .wrap{
       display: flex;
       .card{
          margin: 12px;
          text-align: center;
          padding:25px;
          width:389px;
       }
 }
 }