{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/archive_list/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <h1>Archive List</h1>
    <p><a href="{% url 'room_incharge:room_dashboard' room_slug=room_slug %}">Back to Room Dashboard</a></p>
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Count</th>
                <th>Type</th>
                <th>Remark</th>
                <th>Archived On</th>
            </tr>
        </thead>
        <tbody>
            {% for archive in archives %}
            <tr>
                <td>{{ archive.item.item_name }}</td>
                <td>{{ archive.count }}</td>
                <td>{{ archive.get_archive_type_display }}</td>
                <td>{{ archive.remark }}</td>
                <td>{{ archive.archived_on }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}