{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/brand_list/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <h1>Brand List</h1>
    <p><a href="{% url 'room_incharge:room_dashboard' room_slug=room_slug %}">Back to Room Dashboard</a></p>
    <p><a href="{% url 'room_incharge:brand_create' room_slug=room_slug %}">Create Brand</a></p>
    <ul>
        {% for brand in brands %}
        <li>
            {{ brand.brand_name }} - 
            <a href="{% url 'room_incharge:brand_update' room_slug=brand.room.slug brand_slug=brand.slug %}">Edit</a> - 
            <a href="{% url 'room_incharge:brand_delete' room_slug=brand.room.slug brand_slug=brand.slug %}">Delete</a>
        </li>
        {% endfor %}
    </ul>

{% endblock content %}