{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/brand_list/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}

<div class="d-flex justify-content-between align-items-center my-3">
    <h3>Brand List</h3>
    <div>
        <a href="{% url 'room_incharge:brand_create' room_slug=room_slug %}" class="btn btn-primary">Create Brand</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for brand in brands %}
            <tr>
                <td>{{ brand.brand_name }}</td>
                <td>
                    <a href="{% url 'room_incharge:brand_update' room_slug=brand.room.slug brand_slug=brand.slug %}" class="btn btn-outline-dark btn-sm">Edit</a>
                    <a href="{% url 'room_incharge:brand_delete' room_slug=brand.room.slug brand_slug=brand.slug %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
<ul>
    {% for brand in brands %}
    <li>
        {{ brand.brand_name }} -
        <a href="{% url 'room_incharge:brand_update' room_slug=brand.room.slug brand_slug=brand.slug %}">Edit</a> -
        <a href="{% url 'room_incharge:brand_delete' room_slug=brand.room.slug brand_slug=brand.slug %}">Delete</a>
    </li>
    {% endfor %}
</ul>
