{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/forms_style/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <h1>Delete Category</h1>
    <p>Are you sure you want to delete the category "{{ object.category_name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
        <a href="{% url 'room_incharge:category_list' room_slug=object.room.slug %}">Cancel</a>
    </form>

{% endblock content %}