{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/forms_style/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <h1>Create Category</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p | safe }}
        <button type="submit" class="btn btn-primary">Create Category</button>
    </form>
    
{% endblock content %}
