{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/category_list/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <h1>Category List</h1>
    <p><a href="{% url 'room_incharge:room_dashboard' room_slug=room_slug %}">Back to Room Dashboard</a></p>
    <p><a href="{% url 'room_incharge:category_create' room_slug=room_slug %}">Create Category</a></p>
    <ul>
        {% for category in categories %}
        <li>
            {{ category.category_name }} - 
            <a href="{% url 'room_incharge:category_update' room_slug=category.room.slug category_slug=category.slug %}">Edit</a> - 
            <a href="{% url 'room_incharge:category_delete' room_slug=category.room.slug category_slug=category.slug %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
