{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Item Groups{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/item_group_list/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}

<div class="d-flex justify-content-between align-items-center my-3">
    <h3>Groups</h3>
    <div>
        <a href="{% url 'room_incharge:item_group_create' room_slug=room_slug %}" class="btn btn-primary">Create groups</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Group name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item_group in item_groups %}
            <tr>
                <td>
                    <a class="fw-semibold"
                        href="{% url 'room_incharge:item_group_item_list' room_slug=room_slug item_group_slug=item_group.slug %}">{{ item_group.item_group_name }}</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-dark" href="{% url 'room_incharge:item_group_update' room_slug=room_slug item_group_slug=item_group.slug %}">Edit</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'room_incharge:item_group_delete' room_slug=room_slug item_group_slug=item_group.slug %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}