{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Item List{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/item_list/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}

<section>
    <div class="d-flex justify-content-between align-items-center my-3">
        <h3>Items</h3>
        <div>
            <a href="{% url 'room_incharge:item_create' room_slug=room_slug %}" class="btn btn-primary">Add item</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Total Count</th>
                    <th>Available Count</th>
                    <th>In Use</th>
                    <th>Archived Count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.total_count }}</td>
                    <td>{{ item.available_count }}</td>
                    <td>{{ item.in_use }}</td>
                    <td>{{ item.achived_count }}</td>
                    <td>
                        <a class="btn btn-sm btn-dark"
                            href="{% url 'room_incharge:item_update' room_slug=room_slug item_slug=item.slug %}">Edit</a>
                        <a class="btn btn-sm btn-danger"
                            href="{% url 'room_incharge:item_delete' room_slug=room_slug item_slug=item.slug %}">Delete</a>
                        <a class="btn btn-sm btn-outline-dark"
                            href="{% url 'room_incharge:item_archive' room_slug=room_slug item_slug=item.slug %}">Archive</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock content %}