{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/forms_style/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <h1>Delete Purchase</h1>
    <p>Are you sure you want to delete this purchase?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm</button>
    </form>
    <p><a href="{% url 'room_incharge:purchase_list' room_slug=room_slug %}">Cancel</a></p>

{% endblock content %}
