{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Room Dashboard{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/room_dashboard/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}

<section>
    <h1>Room Dashboard</h1>
    <h2>{{ room.room_name }}</h2>
    <p>Department: {{ room.department.department_name }}</p>
    <p>Incharge: {{ room.incharge.first_name }} {{ room.incharge.last_name }}</p>
    <p>Label: {{ room.label }}</p>
    <p>Created on: {{ room.created_on }}</p>
    <p>Updated on: {{ room.updated_on }}</p>
</section>

{% endblock content %}