<section class="sidebar">
    <div class="nav">
      <a class="navlink active" href="#">
        <span class="material-symbols-outlined me-2">
          dashboard
        </span>
        <span class="menu-text">Dashboard</span>
      </a>
      <a class="navlink" href="#">
        <span class="material-symbols-outlined me-2">
          list_alt
        </span>
        <span class="menu-text">Items</span>
      </a>

      <a class="navlink" href="#">
        <span class="material-symbols-outlined me-2">
          communities
          </span>
        <span class="menu-text">Groups</span>
      </a>

      <a class="navlink" href="#">
        <span class="material-symbols-outlined me-2">
          devices
          </span>
        <span class="menu-text">Systems</span>
      </a>

      <a class="navlink" href="#">
        <span class="material-symbols-outlined me-2">
          category
          </span>
        <span class="menu-text">Categories</span>
      </a>

      <a class="navlink" href="#">
        <span class="material-symbols-outlined me-2">
          branding_watermark
          </span>
        <span class="menu-text">Brands</span>
      </a>

      <a class="navlink" href="#">
        <span class="material-symbols-outlined me-2">
          report
          </span>
        <span class="menu-text">Issues</span>
      </a>

      <a class="navlink" href="#">
        <span class="material-symbols-outlined me-2">
          archive
          </span>
        <span class="menu-text">Archives</span>
      </a>

      <a class="navlink" href="#">
        <span class="material-symbols-outlined me-2">
          settings
          </span>
        <span class="menu-text">Settings</span>
      </a>

    </div>
  </section>