{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/forms_style/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <h3>Delete System</h3>
    <p>Are you sure you want to delete the system "{{ object.system_name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-danger">Yes, delete</button>
        <a href="{% url 'room_incharge:system_list' room_slug=object.room.slug %}" class="btn text-primary btn-sm fw-semibold">Cancel</a>
    </form>

{% endblock content %}
