{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/system_list/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <p><a href="{% url 'room_incharge:room_dashboard' room_slug=room_slug %}">Back to Room Dashboard</a></p>
    <div class="d-flex justify-content-between align-items-center my-3">
        <h3>System-Component</h3>
        <div>
            <a href="{% url 'room_incharge:system_create' room_slug=room_slug %}" class="btn btn-primary">Create System</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>SI No</th>
                    <th>Label</th>
                    <th>Status</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Compon One</td>
                    <td>12</td>
                    <td><span class="badge rounded-pill text-bg-success">Success</span></td>
                    <td>123</td>
                    <td><a href="#" class="btn btn-primary btn-sm">Edit</a></td>
                </tr>
            </tbody>
    <ul>
        {% for system in systems %}
        <li>
            {{ system.system_name }} - 
            <a href="{% url 'room_incharge:system_update' room_slug=system.room.slug system_slug=system.slug %}">Edit</a> - 
            <a href="{% url 'room_incharge:system_delete' room_slug=system.room.slug system_slug=system.slug %}">Delete</a> - 
            <a href="{% url 'room_incharge:system_component_list' room_slug=system.room.slug system_slug=system.slug %}">View Components</a>
        </li>
        {% endfor %}
    </ul>

{% endblock content %}
