<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Component List</title>
</head>
<body>
    <h1>System Component List</h1>
    <p><a href="{% url 'room_incharge:system_list' room_slug=room_slug %}">Back to System List</a></p>
    <p><a href="{% url 'room_incharge:system_component_create' room_slug=room_slug system_slug=system_slug %}">Create Component</a></p>
    <ul>
        {% for component in components %}
        <li>
            {{ component.component_item.item_name }} ({{ component.component_type }}) - 
            <a href="{% url 'room_incharge:system_component_update' room_slug=room_slug system_slug=system_slug component_slug=component.slug %}">Edit</a> - 
            <a href="{% url 'room_incharge:system_component_delete' room_slug=room_slug system_slug=system_slug component_slug=component.slug %}">Delete</a> - 
            <a href="{% url 'room_incharge:system_component_archive' room_slug=room_slug system_slug=system_slug component_slug=component.slug %}">Archive</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
