{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/system_component_list/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<p class="my-4"><a href="{% url 'room_incharge:system_list' room_slug=room_slug %}" class="btn btn-dark btn-sm">Back to System List</a></p>
<div class="d-flex justify-content-between align-items-center my-3">
    <h3>Components</h3>
    <div>
        <a href="{% url 'room_incharge:system_component_create' room_slug=room_slug system_slug=system_slug %}"
            class="btn btn-primary">Add item</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Type</th>
                <th>Serial Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for component in components %}
            <tr>
                <td class="fw-semibold">Compon One</td>
                <td>{{component.get_component_type_display}}</td>
                <td>{{component.serial_number}}</td>
                <td>
                    <a class="btn btn-sm btn-dark" href="{% url 'room_incharge:system_component_update' room_slug=room_slug system_slug=system_slug component_slug=component.slug %}">Edit</a>

                    <a class="btn btn-sm btn-danger" href="{% url 'room_incharge:system_component_delete' room_slug=room_slug system_slug=system_slug component_slug=component.slug %}">Delete</a>

                    <a class="btn btn-sm btn-outline-dark" href="{% url 'room_incharge:system_component_archive' room_slug=room_slug system_slug=system_slug component_slug=component.slug %}">Archive</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}