{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Room{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/system_component_list/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
    <h1>System Component List</h1>
    <p><a href="{% url 'room_incharge:system_list' room_slug=room_slug %}">Back to System List</a></p>
    <div class="d-flex justify-content-between align-items-center my-3">
        <h3>System-Component</h3>
        <div>
            <a href="{% url 'room_incharge:system_component_create' room_slug=room_slug system_slug=system_slug %}" class="btn btn-primary">Add item</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Qunatity</th>
                    <th>Status</th>
                    <th>Serial Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Compon One</td>
                    <td>12</td>
                    <td>Active</td>
                    <td>123</td>
                    <td><a href="#" class="btn btn-primary btn-sm">Edit</a></td>
                </tr>
                <tr>
                    <td>Compon Two</td>
                    <td>10</td>
                    <td>Active</td>
                    <td>12</td>
                    <td><a href="#" class="btn btn-primary btn-sm">Edit</a></td>
                </tr>
                <tr>
                    <td>Compon Three</td>
                    <td>6</td>
                    <td>Active</td>
                    <td>1</td>
                    <td><a href="#" class="btn btn-primary btn-sm">Edit</a></td>
                </tr>
            </tbody>
    <ul>
        {% for component in components %}
        <li>
            {{ component.component_item.item_name }} ({{ component.component_type }}) - 
            <a href="{% url 'room_incharge:system_component_update' room_slug=room_slug system_slug=system_slug component_slug=component.slug %}">Edit</a> - 
            <a href="{% url 'room_incharge:system_component_delete' room_slug=room_slug system_slug=system_slug component_slug=component.slug %}">Delete</a> - 
            <a href="{% url 'room_incharge:system_component_archive' room_slug=room_slug system_slug=system_slug component_slug=component.slug %}">Archive</a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
