.container{
    .card{
      width: 450px auto;
      margin: 3rem auto;
      background-color: #f7f7f7;
      padding: 2.2rem;
      
      h2{
        text-align: center;
        font-weight: 702;
        margin-top: 19px;
      }
      p{
        text-align: center;
      }
      .button-group{
        .btn{
          width: 100%;
          border-radius: 50px;
          font-weight: 600;
        }
      }
    }
  }