{% extends "base.html" %}
{% load static %}

{% block title %} | Issuses{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/room_incharge/forms_style/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "room_incharge/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "room_incharge/sidebar.html" %}
{% endblock sidebar %}
{% block content %}

<body>
    <h1>Issue Reported Successfully</h1>
    <p>Your issue has been reported successfully. Thank you!</p>
</body>
{% endblock content %}
