.container{
    .header{
        display:flex;
        justify-content: space-between;
        
    }

    table{
        
        th{
            background-color: #1F2937 !important;
            color:#ffff;
        }
    }

    .btn{
        border-radius: 50px;
        font-weight: 600;
    }
}

h2{
    margin-bottom: 1rem;
    &::after{
        content: '';
        display: block;
        margin-top: 0.5rem;
        height: 4px;
        width: 100px;
        background-color: #3378e0;
    }
}

.top-section{
    margin-top: 5rem;
}