{% load static %}

<header id="navbar">
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'base/img/logo.svg' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              {% if not user.is_authenticated %}
              <!--
              <li class="nav-item">
                <a class="nav-link active text-body-default" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body-default" href="#">Link</a>
              </li>
              -->
              <li class="nav-item">
                <a href="{% url 'core:register' %}" class="btn btn-sm btn-primary">
                  <span class="text-body-default-bold">Register<i class="fa-regular fa-address-card ms-2"></i></span>
                </a>
                <a href="{% url 'core:login' %}" class="btn btn-sm btn-outline-primary">
                  <span class="text-body-default-bold">Login<i class="fa-solid fa-right-to-bracket ms-2"></i></span>
                </a>
              </li>
              {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-body-default" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{user}}
                </a>
                <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end">
                  <li><a class="dropdown-item text-body-default" href="#">Profile</a></li>
                  <li><a class="dropdown-item text-body-default" href="{% url 'core:change-password' %}">Change Password</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item text-body-default" href="{% url 'core:logout' %}">Logout</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
  </nav>
</header>