{% extends "base.html" %}
{% load static %}
{% block title %} | Password Reset Complete{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/core/forms_style/style.css' %}">
{% endblock style %}

{% block content %}
<h2>Password Reset Complete</h2>
<p>Your Password has been set. You may go ahead and sign in</p>
<div class="button-group">
    <a href="{% url 'core:login' %}"><button class="btn btn-primary" type="button">Sign in</button></a>
</div>
{% endblock content %}