.container{
  .card{
    width: 450px auto;
    margin: 3rem auto;
    background-color: #f7f7f7;
    padding: 1rem;
    
    h2{
      text-align: center;
      font-weight: 702;
      margin-top: 19px;
    }
  
    .form-label{
      font-weight: 400;
    }
  
    .forgot-link{
      margin-bottom: 1rem;
      a{
        text-decoration: none;
      }
    }
  
    .button-group{
      .btn{
        width: 100%;
        border-radius: 50px;
        font-weight: 600;
      }
    }
  }
}