{% extends "base.html" %} {% load static %} 
{% block title %} | Login{% endblock title %} {% block content %}
<div class="card p-3 my-4">
  <img class="mb-3" src="{% static 'images/logo-icon.svg' %}" width="40px" alt="" />
  <h3 class="mb-3">Login</h3>
  <form method="post">
    {% csrf_token %} {{ form.as_p | safe}}
    <input type="submit" class="btn btn-primary" value="Login" />
  </form>
</div>

<p>Forgot password? <a class="text-primary fw-semibold text-center" href="{% url 'core:reset_password' %}">reset password</a></p>

{% endblock content %}
