.container{
    max-width: 600px;
      .card{
        max-width: 450px;
        margin: 6rem auto;
        background-color: #f7f7f7;
        padding: 1rem;
        
        // heading design
        h2{
          text-align: center;
          font-weight: 702;
          margin-top: 10px;
        }
      
        // form-label
        .form-label{
          font-weight: 400;
        }
        // button-design
        .button-group{
          .btn{
            width: 100%;
            border-radius: 50px;
            font-weight: 600;
          }
        }
      }
    }