{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Create Department{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/central_admin/forms_style/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "central_admin/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "central_admin/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<h1>Create Department</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p | safe}}
        <button type="submit">Create Department</button>
    </form>
{% endblock content %}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Department</title>
</head>
<body>
    <h1>Create Department</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p | safe}}
        <button type="submit">Create Department</button>
    </form>
</body>
</html>
