<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue</title>
</head>
<body>
    <h1>This is the issue page!!!</h1>

    <p>The issues are from</p>
    <table border='1'>
        <tr>
            <th>Issue</th>
            <th>Room No</th>
        </tr>
        <tr>
            <td>Some Issue</td>
            <td>301</td>
        </tr>
        <tr>
            <td>Some More Issue</td>
            <td>302</td>
        </tr>
        <tr>
            <td>Some More more Issue</td>
            <td>303</td>
        </tr>
    </table>
</body>
</html>