{% extends "sidebar_base.html" %}
{% load static %}

{% block title %} | Issues{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/central_admin/room_delete/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include "central_admin/navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
{% include "central_admin/sidebar.html" %}
{% endblock sidebar %}

{% block content %}

    <table border='1'>
        <tr>
            <th>Issue</th>
            <th>Room No</th>
        </tr>
        <tr>
            <td>Some Issue</td>
            <td>301</td>
        </tr>
        <tr>
            <td>Some More Issue</td>
            <td>302</td>
        </tr>
        <tr>
            <td>Some More more Issue</td>
            <td>303</td>
        </tr>
    </table>

{% endblock content %}