<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People List</title>
</head>
<body>
    <h1>People List</h1>
    <p>Want to add more people?</p>
    <p>The existing people</p>
    <ul>
        <li>People 1</li> <!--Add an link page to the people when clicked-->
        <li>People 2</li> <!--Add an link page to the people when clicked-->
        <li>People 3</li> <!--Add an link page to the people when clicked-->
        <li>People 4</li> <!--Add an link page to the people when clicked-->
    </ul>
</body>
</html>