{% extends 'sidebar_base.html' %}
{% load static %}

{% block title %} | Room List{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/central_admin/rooms/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'central_admin/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'central_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    <h4>Welcome to the Room</h4>
    <p>Want to add a new room? <a href="{% url 'central_admin:room_create' %}">Create Room</a></p>
    <ul>
        {% for room in rooms %}
        <li>
            {{ room.room_name }} - 
            <a href="{% url 'central_admin:room_delete' room_slug=room.slug %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}