{% extends 'sidebar_base.html' %}
{% load static %}

{% block title %} | Room List{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/inventory/central_admin/rooms/style.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'central_admin/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'central_admin/sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    <h4>Welcome to the Room</h4>
    <p>The things can edit</p>
    <ul>
        <li>Add items</li>
        <li>Brand</li>
        <li>Category</li>
        <li>Issuses?</li>
    </ul>
{% endblock content %}