<section class="sidebar">
    <div class="nav">
        <a class="navlink {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'central_admin:dashboard' %}">
            <span class="material-symbols-outlined me-2">
                dashboard
            </span>
            <span class="menu-text">Dashboard</span>
        </a>
        <a class="navlink {% if request.resolver_match.url_name == 'people_list' %}active{% endif %}" href="{% url 'central_admin:people_list' %}">
            <span class="material-symbols-outlined me-2">
                groups
            </span>
            <span class="menu-text">People</span>
        </a>

        <a class="navlink {% if request.resolver_match.url_name == 'department_list' %}active{% endif %}" href="{% url 'central_admin:department_list' %}">
            <span class="material-symbols-outlined me-2">
                tile_medium
            </span>
            <span class="menu-text">Departments</span>
        </a>

        <a class="navlink {% if request.resolver_match.url_name == 'room_list' %}active{% endif %}" href="{% url 'central_admin:room_list' %}">
            <span class="material-symbols-outlined me-2">
                door_open
            </span>
            <span class="menu-text">Rooms</span>
        </a>

        <a class="navlink {% if request.resolver_match.url_name == 'vendor_list' %}active{% endif %}" href="{% url 'central_admin:vendor_list' %}">
            <span class="material-symbols-outlined me-2">
                storefront
            </span>
            <span class="menu-text">Vendors</span>
        </a>

        <a class="navlink {% if request.resolver_match.url_name == 'purchase_list' %}active{% endif %}" href="{% url 'central_admin:purchase_list' %}">
            <span class="material-symbols-outlined me-2">
                shopping_cart
            </span>
            <span class="menu-text">Purchases</span>
        </a>

        <a class="navlink {% if request.resolver_match.url_name == 'issue_list' %}active{% endif %}" href="{% url 'central_admin:issue_list' %}">
            <span class="material-symbols-outlined me-2">
                report
            </span>
            <span class="menu-text">Issues</span>
        </a>

    </div>
</section>